.layout {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories .title {
  padding: var(--size-11) 0;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
}

.is-text-black {
  color: var(--black);
}

.text-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.text-container {
  top: 100%;
  transform: translateY(-100%);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.section {
  padding: 0 var(--size-11);
  margin-bottom: var(--size-11);
  margin-top: var(--size-11);
}

.sub-heading {
  font-size: var(--size-8);
}

.btn-container {
  display: none;
}

.categories-list {
  display: flex;
  flex-direction: column;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-7);
}

.circular-img {
  object-fit: cover;
  height: 120px;
  border-radius: var(--radius-rounded);
}

.category-title {
  font-weight: 600;
}

.category-item {
  color: var(--grey-lighter);
}

@media screen and (min-width: 320px) {
  .text-container {
    padding: var(--size-9);
  }

  .heading {
    font-size: var(--size-10);
    margin-bottom: var(--size-3);
  }
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: var(--size-16);
    margin-bottom: var(--size-6);
  }

  .categories-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .text-container {
    padding: var(--size-15);
  }

  .btn-container {
    padding: var(--size-9) 0;
  }

  .btn-container {
    display: block;
  }
}
